<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
<header th:fragment="header">
    <div style="background: url(&quot;https://dev2.tce.to.gov.br/resources/imagens/bg-topo.jpg&quot;) repeat-x; height: 128px;">
        <img src="https://dev2.tce.to.gov.br/resources/imagens/logo-topo.jpg" align="left">
        <b style="font-size:24px; font-weight:bold; position: absolute; z-index: 1;top: 30px; color:#fff;">
            Tribunal de Contas do Tocantins
        </b>
        <b style="font-size:18px; font-weight:bold; position: absolute; z-index: 1; top: 65px; color:#fff;">
            Sistema Integrado de Controle e Auditoria Pública de Atos de Pessoal
        </b>
        <img style="border-width:0;" src="https://dev2.tce.to.gov.br/resources/imagens/direita-topo.jpg"
             height="109" align="right">
    </div>
</header>
</body>
</html>

