<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">
    <div style="text-align: center;">

        <div class="card">
            <div class="card-header text-white" style="background-color: #03487b;">
                Avisos:
            </div>
        </div>

        <figure class="figure">
            <img src="https://dev2.tce.to.gov.br/resources/imagens/brasao_tce_200.jpg"
                 class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
                <span>TRIBUNAL DE CONTAS DO ESTADO DO TOCANTINS</span>
                <p>Av. Joaquim Teotônio Segurado, 102 Norte, Cj. 01, Lts 01 e 02 - CEP 77006-002 - Palmas - TO -
                    www.tce.to.gov.br</p>
            </figcaption>
        </figure>
    </div>

    <h4 th:text="${unidade.nome}"></h4>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Portaria nº 776
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="text-align: justify">
                    A Portaria nº 776, publicada em 19/12/2016, aprovou o Novo layouts do Sistema SICAP/AP, bem como
                    instituiu o período de transição para possibilitar a adequação a nova sistemática de envio de dados,
                    via SICAP-AP, e a geração de processos eletrônicos.

                    Tal período se faz imperioso com vistas a mitigar os riscos inerentes a implantação de novos
                    procedimentos via sistemas informatizados bem como promover e divulgar os Manuais do Sistema,
                    realizar capacitação para os jurisdicionados e desenvolvedores de sistema e ajustar as possíveis
                    funcionalidades do sistema a partir da utilização pelos jurisdicionados. Para maiores detalhes,
                    consulte o site do Sicap Ap.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>

    <h5></h5>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;">

        <div>Dúvidas/Informações</div>
        <div>Coordenadoria de Atos de Pessoal (63)3232 - 5965/5927</div>
        <div>Coordenadoria de Desenvolvimento de Sistemas (63)3232 - 5911</div>

    </div>

</section>
</body>
</html>