<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">
    <h5>Lista de arquivos GFIP</h5>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Filtros / Resultados</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">Dados GFIP</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary"> Imprimir <i class="fas fa-print"></i>
            </button>
            <br></br>
            <form class="form-inline">
                <span>Ano: </span>
                <input placeholder="digite o ano" class="form-control mr-sm-2" type="search" name="nome"
                       aria-label="Search"></table>
                <span>Mes: </span>
                <input placeholder="digite o mes" class="form-control mr-sm-2" type="search" name="nome"
                       aria-label="Search"></table>
                <button type="button" class="btn btn-primary">Pesquisar <i class="fas fa-search"></i></button>
            </form>
            <br></br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Ano</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Data de envio</th>
                    <th scope="col">Arquivo GFIP</th>
                    <th scope="col">Boleto GFIP</th>
                    <th scope="col">Comprovante de pagamento</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td><a href="#"> retificar </a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td><a href="#"> retificar </a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td><a href="#"> retificar </a></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <p></p>
            teste
        </div>
    </div>
</section>
</body>
</html>