<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Lista de concurso aprovado
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
        Adicionar novo <i class="fas fa-search"></i>
    </button>
    <br></br>
    <h4>Pesquisa de concurso aprovado</h4>
    <div>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>CPF: </span>
            <input placeholder="digite o CPF" class="form-control mr-sm-2" type="search" name="nome"
                   aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>Nome: </span>
            <input style="width:15%;" placeholder="digite o nome" class="form-control mr-sm-2 " type="search"
                   name="nome" aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <br></br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Concurso</th>
            <th scope="col">Vaga</th>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Classificacao</th>
            <th scope="col">Acoes</th>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gerenciador de concurso aprovado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <span>Concurso:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col">
                                <span>Vaga:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col">
                                <span>CPF:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Nome:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <span>Classificacao:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Numero de inscricao:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Localidade:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <span>Tipo concorrencia:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col">
                                <span>Codigo da especialidade:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>
</section>
</body>
</html>