<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Edital de abertura
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
        Adicionar novo <i class="fas fa-search"></i>
    </button>
    <br></br>
    <h4>Pesquisa de concursos</h4>
    <div>
        <form action="/buscar-nome.php" method="post" class="form-inline">

          <span>Numero do edital: </span>
          <input class="form-control mr-sm-2" type="search" name="nome" aria-label="Search"></table>
          <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>

          <span>Modalidade: </span>
          <input class="form-control mr-sm-2" type="search" name="nome" aria-label="Search"></table>
          <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
          
        </form>
    </div>
    <br></br>

    <!-- Modal da lixeira-->
<div class="modal fade" id="exampleModal50" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ATENCAO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Sim</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Nao</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal da lixeira-->      


    <table class="table table-striped">
        <thead>

        <tr>
            <th scope="col">
                <a class="" th:href="@{/concursoEdital/(page=${pageEdital.pagina}, dir=desc)}" tabindex="-1"><i
                        class="fas fa-arrow-down"></i></a>
                Numero do edital
                <a class="" th:href="@{/concursoEdital/(page=${pageEdital.pagina}, dir=asc)}" tabindex="-1"><i
                        class="fas fa-arrow-up"></i></a>
            </th>
            <th scope="col">Veiculo de publicacao</th>
            <th scope="col">Data de publicacao</th>
            <th scope="col">Prazo de validade</th>
            <th scope="col">Organizadora</th>
            <th scope="col">Modalidade de contratacao</th>
            <th scope="col">Valor da contratacao</th>
            <th scope="col">Acoes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e : ${pageEdital.registros}">
            <td th:text="${e.numeroEdital}">Mark</td>
            <td th:text="${e.veiculoPublicacao}">Otto</td>
            <td th:text="${#dates.format(e.dataPublicacao, 'dd/MM/yyyy')}">@mdo</td>
            <td th:text="${e.prazoValidade}"></td>
            <td th:text="${e.cnpjOrganizador}"></td>
            
            <td>
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3"><i class="fas fa-pencil-alt"></i></button>

                <a href="concursoEditalDetalhes.html" class="btn btn-primary"><i class="fas fa-search-plus"></i></a>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal50"><i class="fas fa-trash-alt"></i></button>
            </td>

            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gerenciador de concurso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <span>Numero do edital:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Modalidade da contratacao:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Veiculo de publicacao:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <br>Data de publicacao:</br>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Inicio do periodo de incricoes do concurso:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Fim do periodo de incricoes do concurso:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <span>Validade em anos:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Organizadora:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Valor da contratacao:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <span>Nº do processo licitatorio:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Ano do processo licitatorio:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/concursoEdital/(page=${1}, dir=${pageEdital.direcao})}"
                   tabindex="-1"><i class="fas fa-step-backward"></i>
                </a>
            </li>

            <li th:class="${pageEdital.pagina == 1} ? 'page-item disabled' : 'page-item'">
                <a class="page-link"
                   th:href="@{/concursoEdital/(page=${pageEdital.pagina - 1}, dir=${pageEdital.direcao})}"
                   tabindex="-1">
                    <i class="fas fa-caret-left"></i>
                </a>
            </li>
            <li class="page-item">
                <span class="page-link" th:text="|${pageEdital.pagina} de ${pageEdital.totalPaginas}|"></span>
            </li>
            <li th:class="${pageEdital.pagina == pageEdital.totalPaginas} ? 'page-item disabled' : 'page-item'">
                <a class="page-link"
                   th:href="@{/concursoEdital/(page=${pageEdital.pagina + 1}, dir=${pageEdital.direcao})}"
                   title="Próxima Página">
                    <i class="fas fa-caret-right"></i>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   th:href="@{/concursoEdital/(page=${pageEdital.totalPaginas}, dir=${pageEdital.direcao})}"
                   tabindex="-1"
                   title="Última Página">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>