<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Lista de especialidade das vagas
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
        Adicionar novo <i class="fas fa-search"></i>
    </button>
    <br></br>
    <h4>Pesquisa de vaga do concurso</h4>
    <div>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>Lei: </span>
            <input placeholder="digite a lei" class="form-control mr-sm-2" type="search" name="nome"
                   aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>Cargo: </span>
            <input style="width:15%;" placeholder="digite o cargo" class="form-control mr-sm-2 " type="search"
                   name="nome" aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>Especialidade: </span>
            <input style="width:15%;" placeholder="digite a especialidade" class="form-control mr-sm-2 " type="search"
                   name="nome" aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <br></br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Concurso (Edital)</th>
            <th scope="col">CNPJ da UG</th>
            <th scope="col">Unidade Administrativa</th>
            <th scope="col">Cargo</th>
            <th scope="col">Código da Vaga</th>
            <th scope="col">Tipo de Concorrência</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Especialidade da Vaga</th>
        </thead>
        <tbody>
        <tr th:each="v : ${vagas}">
            <td th:text="${v.Edital.numeroEdital}">Mark</td>
            <td th:text="${v.cnpj}">Otto</td>
            <td th:text="${v.UnidadeAdministrativa.nome}">@mdo</td>
            <td th:text="${v.Cargo.nomeCargo}"></td>
            <td th:text="${v.codigoVaga}"></td>
            <td th:text="${v.tipoConcorrencia}"></td>
            <td th:text="${v.quantidade}"></td>
            <td th:text="${v.especialidadeVaga}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gerenciador da vaga do concurso</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <span>Concurso:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col">
                                <span>Lei:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="col">
                                <span>Cargo:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col">
                                <span>Especialidade:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <span>Quantidade:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Municipio:</span>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>

</section>
</body>
</html>