<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Lista de Empresas Organizadoras
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
        Adicionar novo <i class="fas fa-search"></i>
    </button>
    <br></br>
    <h4>Pesquisa de Empresas Organizadoras</h4>
    <div>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>Codigo: </span>
            <input placeholder="digite o codigo" class="form-control mr-sm-2" type="search" name="nome"
                   aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <form action="/buscar-nome.php" method="post" class="form-inline">
            <span>Nome: </span>
            <input style="width:15%;" placeholder="digite o nome" class="form-control mr-sm-2 " type="search"
                   name="nome" aria-label="Search"></table>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <br></br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CNPJ</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Número Administrativo</th>
            <th scope="col">Ano do Processo Administrativo</th>
            <th scope="col">Número Licitatório</th>
            <th scope="col">Ano da Licitação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="e : ${empresas}">
            <td th:text="${e.cnpjEmpresaOrganizadora}">Mark</td>
            <td th:text="${e.nome}">Otto</td>
            <td th:text="${e.valor}">@mdo</td>
            <td th:text="${e.numeroAdministrativo}">@mdo</td>
            <td th:text="${e.anoAdministrativo}">@mdo</td>
            <td th:text="${e.numeroLicitatorio}">@mdo</td>
            <td th:text="${e.anoLicitatorio}">@mdo</td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gerenciador da Empresa Organizadora</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <span>Codigo:</span>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <span>Nome:</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>

</section>
</body>
</html>