<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Concursos em homologação
        </div>
    </div>

    <form>
        <div class="form-row">
            <label for="inputEmail4">Concurso (edital): </label>
            <div class="form-group mr-sm-2">
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <label for="inputPassword4">Veiculo de publicação: </label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputPassword4">Data de publicação: </label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
    </form>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Pesquisar</button>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Concurso (edital)</th>
            <th scope="col">Tipo do ato</th>
            <th scope="col">Numero do ato</th>
            <th scope="col">Data do ato</th>
            <th scope="col">Veiculo de publicação</th>
            <th scope="col">Status</th>
            <th scope="col">Documentos</th>
            <th scope="col">Recibo</th>
        </thead>
        <tbody>
        <tr th:each="e : ${homologacoes}">
            <td th:text="${e.Edital.numeroEdital}">Mark</td>
            <td>---</td>
            <td th:text="${e.Ato.numeroAto}">@mdo</td>
            <td>---</td>
            <td th:text="${e.veiculoPublicacao}"></td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-plus"></i> Nova movimentação
    </button>
</section>
</body>
</html>