<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
    <meta charset="utf-8">
</head>

<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Editais
        </div>
    </div>
    <form>
        <div class="form-row">
            <label for="inputEmail4">Numero do edital</label>
            <div class="form-group mr-sm-2">
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <label for="inputPassword4">Veiculo de publicacao</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputPassword4">Data de publicacao</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
    </form>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Pesquisar
    </button>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Numero do edital</th>
            <th scope="col">Veiculo de publicacao</th>
            <th scope="col">Data de publicacao</th>
            <th scope="col">Inicio das incrições</th>
            <th scope="col">Fim das incrições</th>
            <th scope="col">Prazo de validade</th>
            <th scope="col">Empresa organizadora</th>
            <th scope="col">Valor de contratação</th>
            <th scope="col">Status</th>
            <th scope="col">Documentos</th>
            <th scope="col">Recibo</th>
        </thead>
        <tbody>
        <tr th:each="e : ${editais}">
            <td th:text="${e.numeroEdital}">Mark</td>
            <td th:text="${e.veiculoPublicacao}">Otto</td>
            <td th:text="${#dates.format(e.dataPublicacao, 'dd/MM/yyyy')}">@mdo</td>
            <td th:text="${e.dataInicioInscricoes}"></td>
            <td th:text="${e.dataFimInscricoes}"></td>
            <td th:text="${e.prazoValidade}"></td>
            <td th:text="${e.cnpjOrganizador}"></td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>
    <!-- Large modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i
            class="fas fa-plus"></i> Nova movimentação
    </button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab" aria-controls="nav-home" aria-selected="true">Localizar</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab" aria-controls="nav-profile" aria-selected="false">Servidor</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <p></p>
                        <form class="form-inline">
                            <span>Nome: </span>
                            <input class="form-control mr-sm-2" type="search" name="nome" aria-label="Search">
                            </table>
                            <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </form>
                        <p>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">CPF</th>
                                <th scope="col">Servidor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>B</td>
                            </tr>
                            <tr>
                                <td>20</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
                            </ul>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p></p>
                        <h4>Dados pessoais</h4>
                        <p></p>
                        <form>
                            <div class="form-row">
                                <div class="col">
                                    <span>Matricula:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Nome:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <span>Grau de instrução:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Data nasc:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Naturalidade:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <span>Sexo:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Estado civil:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <span>Nacionalidade:</span>
                                    <input type="text" class="form-control">
                                </div>

                                <div class="col">
                                    <span>UF:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <p></p>
                            <h4>Documentos pessoais</h4>
                            <p></p>
                            <div class="form-row">
                                <div class="col">
                                    <span>CPF:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>PIS:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>CNH:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <span>N° RG:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Data de expedicao:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Orgao expedidor/UF:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <span>N° CTPS:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Serie:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <span>Numero titulo de eleitor:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Zona:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>Secao:</span>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <span>UF:</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary">Novo</button>
                            <button type="button" class="btn btn-success">Salvar</button>
                            <button type="button" class="btn btn-danger">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>