<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Admissao
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Adicionar nomeações a processo eletônico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    TESTE
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Envio eletronico</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">Nomeacoes</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
               aria-controls="nav-contact" aria-selected="false">Aprovado sem nomeacao</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
                Adicionar novo <i class="fas fa-plus"></i>
            </button>
            <br></br>
            <span>Status do processo: </span>
            <select class="form-select" aria-label="Default select example">
                <option selected>Selecione um status</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
            </select>
            <button type="button" class="btn btn-secondary">Limpar</button>
            <br></br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">N° do edital</th>
                    <th scope="col">Data da criacao</th>
                    <th scope="col">Quantidade de atos</th>
                    <th scope="col">Status</th>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Recibo</th>
                    <th scope="col">Excluir</th>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <p></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
                Adicionar nomeações a processo eletônico <i class="fas fa-plus"></i>
            </button>
            <br></br>
            <form action="/buscar-nome.php" method="post" class="form-inline">
                <span>N° do ato: </span>
                <select class="form-select mr-sm-2" aria-label="Default select example">
                    <option selected>Selecione um numero do ato</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                </select>
                <span>Concurso: </span>
                <select class="form-select mr-sm-2" aria-label="Default select example">
                    <option selected>Selecione um concurso</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                </select>
                <span>CPF: </span>
                <select class="form-select mr-sm-2" aria-label="Default select example">
                    <option selected>Selecione um CPF</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                </select>

                <button type="button" class="btn btn-primary mr-sm-2">Pesquisar</button>
                <button type="button" class="btn btn-secondary mr-sm-2">Limpar</button>
                </button>
            </form>
            <br></br>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">N° do ato</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">N° do edital</th>
                    <th scope="col">Cadastro do aprovado</th>
                    <th scope="col">Classificacao</th>
                    <th scope="col">Vaga</th>
                    <th scope="col">Processo do concurso</th>
                    <th scope="col">Status da nomeacao</th>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <p></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
                Adicionar aprovados que NAO tomaram posse <i class="fas fa-plus"></i>
            </button>
            <br></br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Classificacao</th>
                    <th scope="col">N° do edital</th>
                    <th scope="col">Status do cadastro</th>
                </thead>
                <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>