<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Servidores em movimentação de pensão
        </div>
    </div>

    <form>
        <div class="form-row">
            <label for="inputEmail4">CPF</label>
            <div class="form-group mr-sm-2">
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <label for="inputPassword4">Nome</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputPassword4">Cargo</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputEmail4">Ato</label>
            <div class="form-group mr-sm-2">
                <input type="email" class="form-control" id="inputEmail4">
            </div>
        </div>
    </form>
    <button data-toggle="modal" data-target="#exampleModalCenter3" class="btn btn-outline-primary my-2 my-sm-0"
            type="submit"><i class="fas fa-search"></i> Pesquisar
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gerar etiqueta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    TESTE
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Ato</th>
            <th scope="col">Status</th>
            <th scope="col">Documentos</th>
            <th scope="col">Recibo</th>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>
</section>
</body>
</html>