<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">

    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Decisao
        </div>
    </div>
    
    <form>
        <div class="form-row">
            <label for="inputEmail4">Movimentacao</label>
            <div class="form-group mr-sm-2">
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <label for="inputPassword4">Processo</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputPassword4">Tipo de ato</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputPassword4">Numero</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
            <label for="inputPassword4">Data</label>
            <div class="form-group mr-sm-2">
                <input type="password" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <label for="inputEmail4">Observacao</label>
            <div class="form-group mr-sm-2">
                <input type="email" class="form-control" id="inputEmail4">
            </div>
        </div>
        <br></br>
    </form>
    <form action="/buscar-nome.php" method="post" class="form-inline">
        <input style="width:20%;" placeholder="Digite o nome para filtrar" class="form-control mr-sm-2" type="search"
               name="nome" aria-label="Search"></table>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">N° ato</th>
            <th scope="col">Tipo ato</th>
            <th scope="col">Data ato</th>
            <th scope="col">Data publicacao</th>
            <th scope="col">Cargo</th>
            <th scope="col">Acoes</th>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>
    <form>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</section>
</body>
</html>