<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
</head>
<body>
<section layout:fragment="corpo">
    
    <div class="card">
        <div class="card-header text-white" style="background-color: #03487b;">
            Gerar etiqueta
        </div>
    </div>

    <form action="/buscar-nome.php" method="post" class="form-inline">
        <input style="width:20%;" placeholder="Digite o nome para filtrar" class="form-control mr-sm-2" type="search"
               name="nome" aria-label="Search"></table>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" type="submit"><i class="fas fa-search"></i>
        </button>
        <span class="mr-sm-2">Selecione o numero do processo para filtrar:</span>
        <select class="form-control mr-sm-2" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2" type="submit"><i class="fas fa-search"></i>
        </button>
    </form>
    <button data-toggle="modal" data-target="#exampleModalCenter3" class="btn btn-outline-primary my-2 my-sm-0"
            type="submit"><i class="fas fa-plus"></i> Gerar
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Gerar etiqueta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    TESTE
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CPF</th>
            <th scope="col">Nome</th>
            <th scope="col">N° ato</th>
            <th scope="col">N° processo</th>
            <th scope="col">Observação</th>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
        </ul>
    </nav>
</section>
</body>
</html>